 *, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 body{
  display:auto;
  flex-direction: auto;
  justify-content: auto;
  align-items: auto;
  position: absolute;
  font-display: auto;
  object-position: auto;
 }
 header{
    background-color: #1A2238;
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;

 }
 .logo{
    margin-right: auto;
    margin-left: 25px;
    cursor: pointer;
    font-size: 25px;
 }
 .logo:hover{
    background-color: aqua;
    color: #1A2238;
    border-radius: 15px;
    padding: 10px;
 }
 nav ul{
    display: flex;
    padding: 25px;
    margin-left: 25px;
 }
 .navbar{
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
    color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .navbar:hover{
    background-color: aqua;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px;
 }
 
 .follow{
    margin-right: 25px;
    border: none;
    font-size: 18px;
    padding: 12px;
    background-color: aqua;
    color: #1A2238;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    cursor: pointer;
 }
 .follow:hover{
    background-color: rgb(55, 66, 66);
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
 }
 .container{
   max-width: 1200px;
   margin: auto;
   padding: 20px 0;
 }
 
 .intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
 }
 .intro:hover{
   background-color: rgb(55, 66, 66);
   color: #ffffff;
   border-radius: 250px;
   cursor: pointer;
 }
 .title{
   font-size: 20px;
   font-weight: bold;
 }
 .deskripsi{
   font-size: 30px;
   font-weight: bolder;

 }
 .img{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   margin: auto;
   padding: 20px 0;
   border-radius: 150px;
   max-width: 500spx;
   max-height: 500px;
   
 }
 
 .tentang{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 background-color:#fefefe;
 color: #000000;
 font-size: 20px;
 font-weight: bolder;
 font-weight: bold;
 padding: 40px;
  
 }
 .tentang:hover{
   background-color: rgb(254, 255, 255);
   color: #d36666;
   border-radius: 250px;
   cursor: pointer;

 }
 .sama{
   
   margin-right: 25px;
   border: none;
   font-size: 18px;
   padding: 12px;
   background-color: aqua;
   color: #1A2238;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius: 15px;
   cursor: pointer;
   
 }
 .sama:hover{
   background-color: rgb(55, 66, 66);
   color: #ffffff;
   border-radius: 250px;
   cursor: pointer;
 }
 
 .join{
   display: flex;
   flex-direction: column;
   justify-content: auto;
   align-items: center;
   padding: 0px;
 }
 .card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:center;
  gap: 20px;
  font-weight: lighter;
  font-style: italic;
 

}
.card{
  padding: 1px;
}
.item{
  background-color: aqua;
  color: #262222;
  width:100%;
  height: auto;
  font-size: 15px;
  border-radius: 20px;
}
h2{
  display:flex;
  justify-content: center;
  background-color: #140f0f;
  color: #fffefe;
}
h1{
  display:flex;
  justify-content: center;
  background-color: #ffffff;
  color: #2e1c1c;
  font-size: 20px;
  border-radius: 25px;
  padding: 25px;
  margin: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title-eaea{
  display:flex;
  justify-content: center;
  background-color: antiquewhite;
  font-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 2px 5px 5px 1px;
}
.deskripsi-ioiooio{
  display:flex;
  justify-content: center;
  background: #fefefe;
  box-shadow: 2px 5px 5px 1px;
  padding: 10px;
  
}
h2:hover{
  background-color: aqua;
  color: #262222;
  margin-top:0px;
}
 
.fa-brands{
  display: flex;
  justify-content: center;
  margin: 62px;
  font-size: 40px;
  box-shadow: 15px 5px 5px 2px;
  border-radius: 8px;
}
.sosial{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:center;
  font-size: 10px;
}
.fa-youtube:hover{
  color: #d36666;
  background-color: #000000;
}
.fa-instagram:hover{
  color: #d36666;
  background-color: #000000;
}
.fa-tiktok:hover{
  color: #815c5c;
  background-color: #000000;
}
.fa-linkedin:hover{
  color: #1da0f7;
  background-color: #430ee2;

}
.fa-facebook:hover{
  color: #15f3ff;
  background-color: #0ea9e2;
}

.fa-square-whatsapp:hover{
  color: #45f419;
  background-color: #090c0d;
}
.fa-github:hover{
  color: #d20909;
  background-color: #000000;
}
h6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 23px;
  font-size: 40px;
}
.futur{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:center;
  margin: 50px;
}

 